<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta
          name="description"
          content="Demonstrating the work done for the Creative Coding Module"
        />
        <meta name="keywords" content="HTML, CSS, JavaScript" />
        <meta name="author" content="John Carlo M. Ramos" />
        <meta
          name="viewport"
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        />
    
        <title>Playing with Patterns</title>
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="./../../css/bootstrap.min.css" />
    
        <!-- Application CSS -->
        <link type="text/css" rel="stylesheet" href="./../../css/main.css" />
    
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

        <!-- Highlight.js CDN -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
        <!-- and it's easy to individually load additional languages -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/go.min.js"></script>
      </head>

      <body style="overflow-x: hidden;">
        <div class="container">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg tertiaryColBackground">
                <a class="navbar-brand navHead">Playing with <span class="navHeadSpan">Patterns</span></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" href="./../../index.html">Home</a>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link">|</a>
                    </li>
                    
                    <li class="nav-item active">
                    <a class="nav-link" href="./../shapeAndColours.html">Shapes & Colours <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link">|</a>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link" href="./../shapeAndPatterns.html">Shapes & Patterns</a>
                    </li>
                    
                    <li class="nav-item">
                    <a class="nav-link">|</a>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link" href="#">Concept of Agents</a>
                    </li>
                </ul>
                </div>
            </nav>

            <!-- JS Project -->
            <div class="row">
                <iframe 
                    src="./../../js/shape_and_patterns/Main Exercises/Ex.1_Playing_With_Patterns/index.html" 
                    frameborder="0"
                    scrolling="no"
                    class="iFrameConfig"
                >
                </iframe>
            </div>

            <br />

            <!-- Contents -->
            <div class="row">
                <div class="col-6">
                    <p class="card-text tertiaryCol cardBody">
                        This project utilises tau (also known as two PI) which is used to equally divide 
                        the spacing between each line segments within the circumference. 
                        How the user is able to change the stroke weight and length via their mouse 
                        cursor is due the map() functions. The radius is mapped for the width (x-axis) of the canvas 
                        while the weight is mapped for the height (y-axis). An alpha value is also added 
                        in the background() to add the "motion blur" effect.
                    </p>

                    <a href="https://github.com/N00172468/Y4_Porfolio_Creative_Computing_Module/tree/master/js/shape_and_patterns/Main%20Exercises/Ex.1_Playing_With_Patterns" target="_blank" class="btn btn-primary btnBackgroundProjectPage">
                        Link to Full Codes
                    </a>
                </div>

                <div class="col-6">
                    <pre><code class="js card-text cyan cardBody">
                        // Mapped Variables:
                        let dynamicSegments = map(mouseX, -width, width, 6, 20);
                        let segmentLength = abs(map(mouseX, 0, width, -100, 100));
                        let segmentWeight = map(mouseY, height, 0, 1, 10);

                        let stepAngle = TWO_PI / dynamicSegments; // Equally divide the spacing between segments within the circumference.

                        // Setting colours for interpolation:
                        let fromColour = color(179, 100, 75); // Start of range
                        let toColour = color(299, 100, 90); // End of range

                        /**
                        * DRAW OBJECTS:
                        */
                        for (let i = 0; i <= dynamicSegments; i += stepAngle) {
                            push();
                                translate(width / 2, height / 2);
                                rotate(i);

                                stroke(lerpColor(fromColour, toColour, i / dynamicSegments)); 
                                strokeWeight(segmentWeight);
                                line(0, 0, segmentLength, segmentLength);
                            pop();
                        }
                    </code></pre>
                </div>
            </div>
        </div>
      </body>
</html>