<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Demonstrating the work done for the Creative Coding Module"
    />
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <meta name="author" content="John Carlo M. Ramos" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />

    <title>Concepts of Agents</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="./../css/bootstrap.min.css" />

    <!-- Application CSS -->
    <link type="text/css" rel="stylesheet" href="./../css/main.css" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  </head>

  <body style="overflow-x: hidden;">
    <div class="container">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg tertiaryColBackground">
        <a class="navbar-brand navHead">Concepts of <span class="navHeadSpan">Agents</span></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="./../index.html">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link">|</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="./shapeAndColours.html">Shapes & Colours</a>
            </li>

            <li class="nav-item">
              <a class="nav-link">|</a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" href="./shapeAndPatterns.html">Shapes & Patterns</a>
            </li>

            <li class="nav-item">
              <a class="nav-link">|</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Concept of Agents <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Contents -->
      <!-- Row 1 -->
      <div class="row justify-content-center slide-right" style="margin-top: 50px;">
        <div class="card secondaryColBackground" style="max-width: 100%;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="./../images/concept_of_agents/adv_agents/adv_agent_for_cover.png" class="card-img-top" alt="Playing_With_Patterns">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title tertiaryCol cardTitle">Advanced Agents</h5>

                <p class="card-text tertiaryCol cardBody">
                  The first project of the <span style="font-family: 'Raleway', sans-serif; font-style: italic;">CONCEPTS OF <span class="navHeadSpan">AGENTS</span></span> chapter 
                  are ten controlled randomised agents with a set alpha value to give it an illusion of having more objects. This project teaches the student the concept of agents
                  by allowing them to develop the dynamic movements and characteristics of those agents.
                </p>

                <!-- <a href="./../js/shape_and_patterns/Main Exercises/Ex.1_Playing_With_Patterns/index.html" class="btn btnBackground"> -->
                <a href="./concept_of_agents/advanced_agents.html" class="btn btnBackground">
                  Show More

                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Row 2 -->
      <div class="row justify-content-center slide-left" style="margin-top: 150px;">
        <div class="card secondaryColBackground" style="max-width: 100%;">
          <div class="row no-gutters">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title tertiaryCol cardTitle" style="text-align: end;">Intelligent Agent</h5>

                <p class="card-text tertiaryCol cardBody" style="text-align: end;">
                  This interactive project shows objects individually following the user's mouse cursor around
                  the canvas. This also demonstrates the use of P5.js trigonometry function, atan2().
                </p>

                <!-- <a href="./../js/shape_and_patterns/Main Exercises/Ex.2.5_Trigonometry_Cont/index.html" class="btn btn-primary btnBackground float-right"> -->
                <a href="./concept_of_agents/intelligent_agents.html" class="btn btn-primary btnBackground float-right">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
                  </svg>
                  
                  Show More
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <img src="./../images/concept_of_agents/int_agents/int_agent.PNG" class="card-img" alt="Trig">
            </div>
          </div>
        </div>
      </div>

      <!-- Row 3 -->
      <div class="row justify-content-center slide-right" style="margin-top: 150px;">
        <div class="card secondaryColBackground" style="max-width: 100%;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="./../images/concept_of_agents/curve_vertex/curve_vertex_for_cover.png" class="card-img-top" alt="Trig_Adv">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title tertiaryCol cardTitle">Curve Vertex</h5>

                <p class="card-text tertiaryCol cardBody">
                  Continuing on from the previous project, this iteration includes ellipses with smaller ellipses in each of them to further display the atan2() function.
                </p>

                <!-- <a href="./../js/shape_and_patterns/Main Exercises/Ex.2.75_Trigonometry_Adv/index.html" class="btn btn-primary btnBackground"> -->
                <a href="./concept_of_agents/curve_vertex.html" class="btn btn-primary btnBackground">
                  Show More

                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Row 4 -->
      <div class="row justify-content-center slide-left" style="margin-top: 150px;">
        <div class="card secondaryColBackground" style="max-width: 100%;">
          <div class="row no-gutters">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title tertiaryCol cardTitle" style="text-align: end;">Growth Density</h5>

                <p class="card-text tertiaryCol cardBody" style="text-align: end;">
                  A pattern of pseudo-randomised objects demonstrating ordered-random. This includes a bespoke animation loop that displays a "pulsating" colour effect. 
                </p>

                <!-- <a href="./../js/shape_and_patterns/Main Exercises/Ex.3_Controlled_Randomised_Pattern/index.html" class="btn btn-primary btnBackground float-right"> -->
                <a href="./concept_of_agents/growth_density.html" class="btn btn-primary btnBackground float-right">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
                  </svg>
                  
                  Show More
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <img src="./../images/concept_of_agents/growth_density/growth_density_for_cover.png" class="card-img-top" alt="Controlled_Randomised">
            </div>
          </div>
        </div>
      </div>

      <!-- Row 5 -->
      <div class="row justify-content-center slide-right" style="margin-top: 150px;">
        <div class="card secondaryColBackground" style="max-width: 100%;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="./../images/concept_of_agents/letter_form/letter_form.PNG" class="card-img-top" alt="Controlled_Randomised_2">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title tertiaryCol cardTitle">Letter Forming</h5>

                <p class="card-text tertiaryCol cardBody">
                  Identical in terms of functionality to the previous project, however, the objects are different and user interaction is considered.
                </p>

                <!-- <a href="./../js/shape_and_patterns/Main Exercises/Ex.3.5_Controlled_Randomised_Pattern_Part_2/index.html" class="btn btn-primary btnBackground"> -->
                <a href="./concept_of_agents/letter_form.html" class="btn btn-primary btnBackground">
                  Show More

                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Row 6 -->
      <div class="row justify-content-center slide-left" style="margin-top: 150px; margin-bottom: 100px;">
        <div class="card secondaryColBackground" style="max-width: 100%;">
          <div class="row no-gutters">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title tertiaryCol cardTitle" style="text-align: end;">Production Demonstration</h5>

                <p class="card-text tertiaryCol cardBody" style="text-align: end;">
                  The last project of this chapter demonstrates the basic capabilities of pixel manipulation from an image.
                </p>

                <!-- <a href="./../js/shape_and_patterns/Main Exercises/Ex.4.5a_Wrapping_Paper_Rework_Final/index.html" class="btn btn-primary btnBackground float-right"> -->
                <a href="./concept_of_agents//ca2.html" class="btn btn-primary btnBackground float-right">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
                  </svg>
                  
                  Show More
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <img src="./../images/concept_of_agents/production_demo/ca2_screenshot.png" class="card-img-top" alt="Wrapping_Paper">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
