<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Demonstrating the work done during Term 1 for the Creative Coding Module"
    />
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <meta name="author" content="John Carlo M. Ramos" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />

    <title>Shapes & Colours</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="./../css/bootstrap.min.css" />

    <!-- Application CSS -->
    <link type="text/css" rel="stylesheet" href="./../css/main.css" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg tertiaryColBackground">
        <a class="navbar-brand navHead">Shapes & <span class="navHeadSpan">Colours</span></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="./../index.html">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link">|</a>
            </li>
            
            <li class="nav-item active">
              <a class="nav-link" href="#">Shape & Colours <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link">|</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="./shapeAndPatterns.html">Shape & Patterns</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Contents -->
      <!-- Row 1 -->
      <div class="row" style="margin-top: 50px;">
        <!-- Ex.1 - Looped HSB -->
        <div class="col">
          <div class="card secondaryColBackground" style="width: 18rem;">
            <img src="./../images/shape_and_colours/Ex.1_Looped_HSB/HSB_Canvas_Made_With_P5js.png" class="card-img-top" alt="Looped_HSB">
            <div class="card-body">
              <h5 class="card-title tertiaryCol">Looped HSB</h5>
              <p class="card-text tertiaryCol">A full-windowed canvas displaying the HSB Colour Model.</p>
              <a href="./../js/shape_and_colours/Main Exercises/Ex.1_Looped_HSB/index.html" class="btn btn-primary">Live Demo</a>
            </div>
          </div>
        </div>

        <!-- Ex.2 - Interactive Looped HSB -->
        <div class="col">
          <div class="card secondaryColBackground" style="width: 18rem;">
            <img src="./../images/shape_and_colours/Ex.2_Looped_HSB_Interactive/Carlo.png" class="card-img-top" alt="Interactive_Looped_HSB">
            <div class="card-body">
              <h5 class="card-title tertiaryCol">Interactive Looped HSB</h5>
              <p class="card-text tertiaryCol">An interactive version of Looped HSB.</p>
              <a href="./../js/shape_and_colours/Main Exercises/Ex.2_Looped_HSB_Interactive/index.html" class="btn btn-primary">Live Demo</a>
            </div>
          </div>
        </div>

        <!-- Ex.3 - Radial Fan -->
        <div class="col">
          <div class="card secondaryColBackground" style="width: 18rem;">
            <img src="./../images/shape_and_colours/Ex.3_Radial_Fan/Radial_Fan_Centred_Made_With_P5js.png" class="card-img-top" alt="Radial_Fan">
            <div class="card-body">
              <h5 class="card-title tertiaryCol">Radial Fan</h5>
              <p class="card-text tertiaryCol">A medium-canvas displaying the HSB Colour Model in a radial fan pattern. Also intractable.</p>
              <a href="./../js/shape_and_colours/Main Exercises/Ex.3_Radial_Fan/index.html" class="btn btn-primary">Live Demo</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Row 2 -->
      <div class="row" style="margin-top: 50px;">
        <!-- Ex.4 - Translations -->
        <div class="col">
          <div class="card secondaryColBackground" style="width: 18rem;">
            <img src="./../images/shape_and_colours/Ex.4_Translations/Basic_Translations_Demo.png" class="card-img-top" alt="Basic_Translations">
            <div class="card-body">
              <h5 class="card-title tertiaryCol">Basic Translations</h5>
              <p class="card-text tertiaryCol">A refresher on the basics of translate(), push() and pop().</p>
              <a href="./../js/shape_and_colours/Main Exercises/Ex.4_Translations/index.html" class="btn btn-primary">Live Demo</a>
            </div>
          </div>
        </div>

        <!-- Ex.5 - Interactive Colour Tool -->
        <div class="col">
          <div class="card secondaryColBackground" style="width: 18rem;">
            <img src="./../images/shape_and_colours/Ex.5_Interactive_Colour_Tool/Interactive_Canvas_End.png" class="card-img-top" alt="Interactive_Colour_Tool">
            <div class="card-body">
              <h5 class="card-title tertiaryCol">Interactive Colour Tool</h5>
              <p class="card-text tertiaryCol">An interactive canvas that demonstrates the HSB Colour Model.</p>
              <a href="./../js/shape_and_colours/Main Exercises/Ex.5_Interactive_Colour_Tool/index.html" class="btn btn-primary">Live Demo</a>
            </div>
          </div>
        </div>

        <!-- Ex.6 - Interpolation -->
        <div class="col">
          <div class="card secondaryColBackground" style="width: 18rem;">
            <img src="./../images/shape_and_colours/Ex.6_Interpolation/Spiral_4.png" class="card-img-top" alt="Interpolation">
            <div class="card-body">
              <h5 class="card-title tertiaryCol">Interpolation</h5>
              <p class="card-text tertiaryCol">Experimenting with the P5.js function lerpColor() to display interpolation.
              </p>
              <a href="./../js/shape_and_colours/Main Exercises/Ex.6_Interpolation_Final_Attempt/index.html" class="btn btn-primary">Live Demo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
