<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta
          name="description"
          content="Demonstrating the work done for the Creative Coding Module"
        />
        <meta name="keywords" content="HTML, CSS, JavaScript" />
        <meta name="author" content="John Carlo M. Ramos" />
        <meta
          name="viewport"
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        />
    
        <title>Production Demonstration</title>
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="./../../css/bootstrap.min.css" />
    
        <!-- Application CSS -->
        <link type="text/css" rel="stylesheet" href="./../../css/main.css" />
    
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

        <!-- Highlight.js CDN -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
        <!-- and it's easy to individually load additional languages -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/go.min.js"></script>
      </head>

      <body style="overflow-x: hidden;">
        <div class="container">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg tertiaryColBackground">
                <a class="navbar-brand navHead">Production <span class="navHeadSpan">Demonstration</span></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" href="./../../index.html">Home</a>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link">|</a>
                    </li>
                    
                    <li class="nav-item active">
                    <a class="nav-link" href="./../shapeAndColours.html">Shapes & Colours <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link">|</a>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link" href="./../shapeAndPatterns.html">Shapes & Patterns</a>
                    </li>
                    
                    <li class="nav-item">
                    <a class="nav-link">|</a>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link" href="./../conceptsOfAgents.html">Concept of Agents</a>
                    </li>
                </ul>
                </div>
            </nav>

            <!-- JS Project -->
            <div class="row">
                <iframe 
                    src="./../../js/concept_of_agents/Main Exercises/CA2/index.html" 
                    frameborder="0"
                    scrolling="no"
                    class="iFrameConfig"
                >
                </iframe>
            </div>

            <br />

            <!-- Contents -->
            <div class="row">
                <div class="col-6">
                    <p class="card-text tertiaryCol cardBody">
                        To get the pathing and array of points, 
                        the P5 function known as textToPoints() is used which simplifies 
                        the pathing of the array of the points for the texts.
                        A class has then been created for the agents to contain their random starting positions, velocity, target, 
                        render functions, etc. The important function for this however is the behaviour function which determines 
                        how the agents finds their places and how they would react once the user hovers their cursor on them. 
                        This is done by using the flocking or steering algorithm. There are two sub-functions called into the behaviour 
                        function which both takes in on what is called a “desired velocity”. The position of the agents is then calculated 
                        between the distance of their current location and their placements. Depending on the sub-functions, this would 
                        result in the agents going to their place or running away from them. Where the desired velocity takes place is 
                        when the agents are in a certain distance of their pathing, the calculation for the desired velocity will then 
                        slightly update agents’ speed and maximum force on return.
                        <br />
                        <br />
                        In terms of audio, two P5 functions that is specific for sound manipulation has been used. The first function is 
                        called P5.FFT (Fast Fourier Transform) which was used to render the spectrum and the waveform graphs while the second 
                        function is called P5.Aplitude which was used to animate the agents to go with the beat. P5.Aplitude allows the developer 
                        to fetch the level/volume of the audio which then can be used. For instance, when the audio hits a peak 
                        (i.e. a spike through the level/volume), it will then increase the size of the agents.
                        <br />
                        <br />
                        Finally in terms of user interaction, as explained earlier, the user is able to interact with the agents by hovering their 
                        cursor over them. Basic colour lerping has also been implemented within the x-axis of the canvas. A number of GUIs has been 
                        developed to allow the user to customise the spectrum graph, the waveform graph, the dimensions of the agents and toggling 
                        whether to display the track information on the bottom right to display or not. These are created by using P5.GUI as well 
                        as setting up multiple global variables which are linked between the components and the GUI itself.
                    </p>

                    <a href="https://github.com/N00172468/Y4_Porfolio_Creative_Computing_Module/tree/master/js/concept_of_agents/Main%20Exercises/CA2" target="_blank" class="btn btn-primary btnBackgroundProjectPage">
                        Link to Full Codes
                    </a>
                </div>

                <div class="col-6">
                    <pre><code class="js card-text cyan cardBody">
                        /**
                        * ------------- SHOW FUNCTION: -------------
                        */
                        show() {
                            let rms = analyser.getLevel(); // rms = Root Mean Square amplitude
                            let fromColour = color(255, 0, 0);
                            let toColour = color(0, 0, 255);
                            let lerpMap = map(mouseX, 0, width, 0, 1.0);
                            let activateLerp = lerpColor(fromColour, toColour, lerpMap);

                            strokeWeight(strokeThickness);
                            fill(activateLerp);
                            
                            if (isPlaying === true) {
                            rectMode(CENTER);
                            strokeWeight(strokeThickness / 5);
                            stroke(0);

                            rect(this.pos.x, this.pos.y, agentSize + rms * amplitudeLevel, agentSize + rms * amplitudeLevel); // Connecting agentSize and the rms by the amplitude level will allow the agents to "dance" to the beat of the track.
                            } else {
                            stroke(255);
                            rect(this.pos.x, this.pos.y, agentSize, agentSize);
                            }

                        }



                        /**
                        * ------------- BEHAVIOUR FUNCTION: -------------
                        */
                        behaviours() {
                            // Agents finding and "flocking" their places:
                            let arrive = this.arriveAtPlace(this.target);
                            arrive.mult(1); // Weight of agents flocking
                            this.applyForce(arrive);

                            // Agents "flying away" from their places:
                            let mouseInteraction = createVector(mouseX, mouseY);
                            let fly = this.flyAway(mouseInteraction);
                            fly.mult(10); // Weight of agents flying away
                            this.applyForce(fly);
                        }



                        /**
                        * ------------- APPLY FORCE FUNCTION: -------------
                        * Sub-function of "Behaviour"
                        */
                        applyForce(f) {
                            this.acc.add(f);
                        }



                        /**
                        * ------------- ARRIVE AT PLACE FUNCTION: -------------
                        * Sub-function of "Behaviour"
                        */
                        arriveAtPlace(targ) {
                            let wantedVel = p5.Vector.sub(targ, this.pos);
                            let dist = wantedVel.mag();
                            let speed = this.maxSpeed;

                            if (dist < 100) {
                            speed = map(dist, 0, 100, 0, this.maxSpeed);
                            }
                            
                            wantedVel.setMag(speed);

                            let flock = p5.Vector.sub(wantedVel, this.vel);
                            flock.limit(this.maxForce);
                            return flock;
                        }



                        /**
                        * ------------- FLY AWAY FUNCTION: -------------
                        * Sub-function of "Behaviour"
                        */
                        flyAway(targ) {
                            let wantedVel = p5.Vector.sub(targ, this.pos);
                            let dist = wantedVel.mag();

                            if (dist < 50) {
                            wantedVel.setMag(this.maxSpeed);
                            wantedVel.mult(-1);

                            let flock = p5.Vector.sub(wantedVel, this.vel);
                            flock.limit(this.maxForce);
                            return flock;
                            } else {
                            return createVector(0, 0);
                            }
                        }
                        }
                    </code></pre>
                </div>
            </div>
        </div>
      </body>
</html>