<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta
          name="description"
          content="Demonstrating the work done for the Creative Coding Module"
        />
        <meta name="keywords" content="HTML, CSS, JavaScript" />
        <meta name="author" content="John Carlo M. Ramos" />
        <meta
          name="viewport"
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        />
    
        <title>Growth Density</title>
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="./../../css/bootstrap.min.css" />
    
        <!-- Application CSS -->
        <link type="text/css" rel="stylesheet" href="./../../css/main.css" />
    
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

        <!-- Highlight.js CDN -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
        <!-- and it's easy to individually load additional languages -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/go.min.js"></script>
      </head>

      <body style="overflow-x: hidden;">
        <div class="container">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg tertiaryColBackground">
                <a class="navbar-brand navHead">Growth <span class="navHeadSpan">Density</span></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" href="./../../index.html">Home</a>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link">|</a>
                    </li>
                    
                    <li class="nav-item active">
                    <a class="nav-link" href="./../shapeAndColours.html">Shapes & Colours <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link">|</a>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link" href="./../shapeAndPatterns.html">Shapes & Patterns</a>
                    </li>
                    
                    <li class="nav-item">
                    <a class="nav-link">|</a>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link" href="./../conceptsOfAgents.html">Concept of Agents</a>
                    </li>
                </ul>
                </div>
            </nav>

            <!-- JS Project -->
            <div class="row">
                <iframe 
                    src="./../../js//concept_of_agents/Main Exercises/Ex.9_Growth_Density_Agents/index.html" 
                    frameborder="0"
                    scrolling="no"
                    class="iFrameConfig"
                >
                </iframe>
            </div>

            <br />

            <!-- Contents -->
            <div class="row">
                <div class="col-6">
                    <p class="card-text tertiaryCol cardBody">
                        Two agents must be drawn out first to activate the checking algorithm.
                        Once the two points has been drawn out, their x and y positions as well
                        as their radius are stored in an array. The data of each agents stored within those arrays
                        are then used to check which of the agents are the closest.Once the calculation has been done,
                        it then renders out an agent with randomised parameter values within the perimeter of the previous drawn out agent.
                        This then repeats until the limit of agents has been met. 
                    </p>

                    <a href="https://github.com/N00172468/Y4_Porfolio_Creative_Computing_Module/tree/master/js/concept_of_agents/Main%20Exercises/Ex.9_Growth_Density_Agents" target="_blank" class="btn btn-primary btnBackgroundProjectPage">
                        Link to Full Codes
                    </a>
                </div>

                <div class="col-6">
                    <pre><code class="js card-text cyan cardBody">
                        // create a random set of parameters
                        let nextPointRadius = random(5, 25);
                        let nextPointXPos = random(nextPointRadius, width - nextPointRadius);
                        let nextPointYPos = random(nextPointRadius, height - nextPointRadius);

                        let nearestPoint = Number.MAX_VALUE;
                        let moveToNewPos = 0;
                        // Which object is the closest?
                        for (let i = 0; i < currentPoint; i++) {
                            let nextPoint = dist(nextPointXPos, nextPointYPos, xPos[i], yPos[i]);
                            
                            if (nextPoint < nearestPoint) {
                            nearestPoint = nextPoint;
                            moveToNewPos = i;
                            }
                        }

                        // aline it to the closest circle outline
                        let angle = atan2(nextPointYPos - yPos[moveToNewPos], nextPointXPos - xPos[moveToNewPos]);

                        xPos[currentPoint] = xPos[moveToNewPos] + cos(angle) * (radius[moveToNewPos] + nextPointRadius);
                        yPos[currentPoint] = yPos[moveToNewPos] + sin(angle) * (radius[moveToNewPos] + nextPointRadius);
                        radius[currentPoint] = nextPointRadius;
                        currentPoint++;

                        // draw them
                        for (let i = 0; i < currentPoint; i++) {
                            noStroke();
                            fill(50 + i, 0, currentPoint + i);
                            rect(xPos[i], yPos[i], radius[i] * 2, radius[i] * 2);
                        }

                        if (currentPoint >= numOfPoints) noLoop();
                    </code></pre>
                </div>
            </div>
        </div>
      </body>
</html>